div table tr td table tr {
	list-style-type: none;
	padding: 0;
}

.menu{
	font-size: 40px;
	font-family: sans-serif;
	background-color: magenta;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

.menu::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

.menu:hover::before {
	transform: scale(7);
}

